CREATE INDEX IF NOT EXISTS idx_pets_owner_id ON public.pets(owner_id);
CREATE INDEX IF NOT EXISTS idx_user_roles_user_id ON public.user_roles(user_id);
CREATE INDEX IF NOT EXISTS idx_mating_listings_owner_id ON public.mating_listings(owner_id);
CREATE INDEX IF NOT EXISTS idx_mating_listings_pet_id ON public.mating_listings(pet_id);
CREATE INDEX IF NOT EXISTS idx_posts_author_id ON public.posts(author_id);
CREATE INDEX IF NOT EXISTS idx_posts_pet_id ON public.posts(pet_id);
